 /* font-family: "Inter", sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #FBFDFF;
}
.header_wrapper{
    background: #002641;
    padding: 20px 0;
}
.container{
    max-width: 1283px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}
.levelselector_area{
    max-width: 700px;
    margin: 60px auto;
    width: 100%;
    padding: 10px 5px;
    padding-right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#E4E4E4 ;
    border-radius: 10px;
    position: relative;
    height: 60px;
}
.levelselector_area span{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #383838;
}
.dropdownOpenbtn{
    background: #21a900;
    border-radius: 8px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.dropdownOpenbtn span{
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    color: #21a900;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.main_content_area{
    height: 360px;
    border-radius: 15px;
    border: 2px solid #484848;
    padding: 20px;
}
.items_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 30px;
}
.items_row:last-child{
    margin-bottom: 0;
}
.row_head{
    width: 100px;
}
.progress_line{
    width: calc(100% - 100px);
    position: relative;
}
.items_row.completed .progress_line::after{
    content: " ";
    height: 7px;
    left: 10px;
    right: 10px;
    background: #002641;
    width: calc(100% - 20px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}
.row_head_icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.items_row.completed .row_head_icon{
    background: #002641;
    border-radius: 8px;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row_head_icon img{
    width: 40px;
}
.progress_line{
display: flex;
justify-content: space-between;
align-items: center;
}
.progress_line .box{
     width: 5%;
    aspect-ratio: 1/1;
    border-radius: 4px;
    background: #e4e4e4;
}
.items_row.completed .progress_line .box{
   
    background: #002641;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}
.play_and_counter_area{
    margin-top: 20px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.primaryBtn{
 background: #21a900;
     display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
     border: none;
    padding: 10px;
    border-radius: 8px;
      height: 50px;
      min-width: 50px;
}
.primaryBtn span{
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    color: #21a900;
    font-size: 18px;
}
.playBtn{
    padding: 10px;
    border-radius: 8px;
    width: 120px;
   
}
.primaryBtn:hover{
    background: #1a7802;
}
.counter_group{
    display: flex;
    justify-content: space-between;
    align-items: start;
    column-gap: 30px;
}
.aside_counter_group{
    display: flex;
    justify-content: space-between;
    align-items: start;
    column-gap: 30px;
}
.aside_counter_group h1{
    color: #383838;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 0;
    font-family: "Inter", sans-serif;
    text-align: center;
    margin-top: 10px;
}
.individual_counter_group{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}
.counter_number{
    font-family: "Inter", sans-serif;
    color: #383838;
    font-size: 25px;
    font-weight: 600;
    background: #E4E4E4;
    border-radius: 8px;
    height: 50px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.connector_markline{
    padding: 0 22%;
    margin-top: 15px;
}
.cMark{
    border-bottom: 3px solid #9d9d9d; 
    border-left: 3px solid #9d9d9d; 
    border-right: 3px solid #9d9d9d;
    height: 30px;
    position: relative;
}
.cMark::after{
    border: 3px solid #9d9d9d;
    height: 9px;
    width: 9px;
    content: '';
    border-radius: 50%;
    position: absolute;
    left: -8px;
    top: -11px;
}
.cMark::before{
    border: 3px solid #9d9d9d;
    height: 9px;
    width: 9px;
    content: '';
    border-radius: 50%;
    position: absolute;
    right: -8px;
    top: -11px;
}
.connector_markline h1{
     color: #383838;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 0;
    font-family: "Inter", sans-serif;
    text-align: center;
    margin-top: 10px;
}
